* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

.container {
    padding: 0 16px;
}

.tooltip {
    position: relative;
    background: #05b13e36;
    cursor: help;
}

.tooltip-container {
    position: absolute;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    background: #cccccc;
    box-shadow: 0 0 5px #2e2e2e;
    left: 50%;
    z-index: 9999999999999999999;
}

.tooltip-content {
    font-size: 14px;
}